1. Use the following contingency table to help answer the question of whether using a macbook and being a codeup student are independent of each other.

In [2]:
# imports
import numpy as np
import pandas as pd
from scipy import stats
from pydataset import data
from env import usr, pw, host
from sqlalchemy import create_engine

In [ ]:
  	Codeup Student 	Not Codeup Student
Uses a Macbook 	49 	20
Doesn't Use A Macbook 	1 	30

In [3]:
observed = pd.DataFrame(
    {
        'codeup_student': [49,1],
        'not_student': [20,30]
    }, index=['macbook_user', 'not_macbook']
)

In [4]:
observed

              codeup_student  not_student
macbook_user              49           20
not_macbook                1           30

In [ ]:
# Establish a null hypothesis

In [5]:
# H0: Use of a macbook is independent of being a codeup student
# Ha: Use of macbook is related to being a codeup student (not independent)

In [6]:
confidence_level = 0.95
alpha = 1 - confidence_level

In [7]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [8]:
print('Observed:\n:')
print(observed)
print('~~~~~~~~~~~~~~~~~~~~~~')
print('Expected: \n')
print(pd.DataFrame(expected, index=observed.index, columns=observed.columns))
print('~~~~~~~~~~~~~~~~~~~~~~')
print(f'chi^2 value: {chi2:.4f}')
print(f'p value: {p:.8f}')
if p < alpha:
    print('Our p value is less than our alpha and we can reject the null hypothesis, indicating that macbook use is not necessarily independent of codeup matriculation')
else:
    print('We cannot reject the null hypothesis')

Observed:
:
              codeup_student  not_student
macbook_user              49           20
not_macbook                1           30
~~~~~~~~~~~~~~~~~~~~~~
Expected:

              codeup_student  not_student
macbook_user            34.5         34.5
not_macbook             15.5         15.5
~~~~~~~~~~~~~~~~~~~~~~
chi^2 value: 36.6526
p value: 0.00000000
Our p value is less than our alpha and we can reject the null hypothesis, indicating that macbook use is not necessarily independent of codeup matriculation

### 2. Choose another 2 categorical variables from the mpg dataset and perform a chi2 contingency table test with them. Be sure to state your null and alternative hypotheses.

In [10]:
mpg = data('mpg')

In [11]:
mpg.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
1         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
2         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
3         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
4         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
5         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [12]:
mpg.nunique()

manufacturer    15
model           38
displ           35
year             2
cyl              4
trans           10
drv              3
cty             21
hwy             27
fl               5
class            7
dtype: int64

In [ ]:
# manufacturer: 15 options
# class: 7 options

In [13]:
# Null hypothesis:
# H0: Vehicle manufacturer is independent of vehicle class type
# Ha: Vehicle manufacturer is not independent of vehicle class type
# keep same alpha and confidence : 0.05 / .95

In [14]:
observed = pd.crosstab(mpg['class'], mpg['manufacturer'])

In [15]:
observed

manufacturer,audi,chevrolet,dodge,ford,honda,hyundai,jeep,land rover,lincoln,mercury,nissan,pontiac,subaru,toyota,volkswagen
class,,,,,,,,,,,,,,,
2seater,0,5,0,0,0,0,0,0,0,0,0,0,0,0,0
compact,15,0,0,0,0,0,0,0,0,0,2,0,4,12,14
midsize,3,5,0,0,0,7,0,0,0,0,7,5,0,7,7
minivan,0,0,11,0,0,0,0,0,0,0,0,0,0,0,0
pickup,0,0,19,7,0,0,0,0,0,0,0,0,0,7,0
subcompact,0,0,0,9,9,7,0,0,0,0,0,0,4,0,6
suv,0,9,7,9,0,0,8,4,3,4,4,0,6,8,0

In [24]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [17]:
dof

84

In [22]:
print(
    #cast my expexted values into a DataFrame, assign the index and columns from observered
    pd.DataFrame(expected, index=observed.index, columns=observed.columns).to_markdown())

| class      |     audi |   chevrolet |    dodge |     ford |    honda |   hyundai |     jeep |   land rover |   lincoln |   mercury |   nissan |   pontiac |   subaru |   toyota |   volkswagen |
|:-----------|---------:|------------:|---------:|---------:|---------:|----------:|---------:|-------------:|----------:|----------:|---------:|----------:|---------:|---------:|-------------:|
| 2seater    | 0.384615 |    0.405983 | 0.790598 | 0.534188 | 0.192308 |  0.299145 | 0.17094  |    0.0854701 | 0.0641026 | 0.0854701 | 0.277778 |  0.106838 | 0.299145 | 0.726496 |     0.576923 |
| compact    | 3.61538  |    3.81624  | 7.43162  | 5.02137  | 1.80769  |  2.81197  | 1.60684  |    0.803419  | 0.602564  | 0.803419  | 2.61111  |  1.00427  | 2.81197  | 6.82906  |     5.42308  |
| midsize    | 3.15385  |    3.32906  | 6.48291  | 4.38034  | 1.57692  |  2.45299  | 1.40171  |    0.700855  | 0.525641  | 0.700855  | 2.27778  |  0.876068 | 2.45299  | 5.95726  |     4.73077  |
| minivan    | 0.846154 |    0.893162 | 1.73932  | 1.17521  | 0.423077 |  0.65812  | 0.376068 |    0.188034  | 0.141026  | 0.188034  | 0.611111 |  0.235043 | 0.65812  | 1.59829  |     1.26923  |
| pickup     | 2.53846  |    2.67949  | 5.21795  | 3.52564  | 1.26923  |  1.97436  | 1.12821  |    0.564103  | 0.423077  | 0.564103  | 1.83333  |  0.705128 | 1.97436  | 4.79487  |     3.80769  |
| subcompact | 2.69231  |    2.84188  | 5.53419  | 3.73932  | 1.34615  |  2.09402  | 1.19658  |    0.598291  | 0.448718  | 0.598291  | 1.94444  |  0.747863 | 2.09402  | 5.08547  |     4.03846  |
| suv        | 4.76923  |    5.03419  | 9.80342  | 6.62393  | 2.38462  |  3.7094   | 2.11966  |    1.05983   | 0.794872  | 1.05983   | 3.44444  |  1.32479  | 3.7094   | 9.00855  |     7.15385  |

In [25]:
print('Observed:\n')
print(observed)
print('~~~~~~~~~~~~~~~~~~~~~~')
print('Expected: \n')
print(pd.DataFrame(expected, index=observed.index, columns=observed.columns))
print('~~~~~~~~~~~~~~~~~~~~~~')
print(f'chi^2 value: {chi2:.4f}')
print(f'p value: {p:.8f}')
print(f'degrees of freedom: {degf}')
if p < alpha:
    print('''Our p value is less than our alpha and we can reject the null hypothesis
         We can suggest that vehicle class type if not independent of manufacturer''')
else:
    print('We cannot reject the null hypothesis')

Observed:

manufacturer  audi  chevrolet  dodge  ford  honda  hyundai  jeep  land rover  \
class
2seater          0          5      0     0      0        0     0           0
compact         15          0      0     0      0        0     0           0
midsize          3          5      0     0      0        7     0           0
minivan          0          0     11     0      0        0     0           0
pickup           0          0     19     7      0        0     0           0
subcompact       0          0      0     9      9        7     0           0
suv              0          9      7     9      0        0     8           4

manufacturer  lincoln  mercury  nissan  pontiac  subaru  toyota  volkswagen
class
2seater             0        0       0        0       0       0           0
compact             0        0       2        0       4      12          14
midsize             0        0       7        5       0       7           7
minivan             0        0       0        0       0       0           0
pickup              0        0       0        0       0       7           0
subcompact          0        0       0        0       4       0           6
suv                 3        4       4        0       6       8           0
~~~~~~~~~~~~~~~~~~~~~~
Expected:

manufacturer      audi  chevrolet     dodge      ford     honda   hyundai  \
class
2seater       0.384615   0.405983  0.790598  0.534188  0.192308  0.299145
compact       3.615385   3.816239  7.431624  5.021368  1.807692  2.811966
midsize       3.153846   3.329060  6.482906  4.380342  1.576923  2.452991
minivan       0.846154   0.893162  1.739316  1.175214  0.423077  0.658120
pickup        2.538462   2.679487  5.217949  3.525641  1.269231  1.974359
subcompact    2.692308   2.841880  5.534188  3.739316  1.346154  2.094017
suv           4.769231   5.034188  9.803419  6.623932  2.384615  3.709402

manufacturer      jeep  land rover   lincoln   mercury    nissan   pontiac  \
class
2seater       0.170940    0.085470  0.064103  0.085470  0.277778  0.106838
compact       1.606838    0.803419  0.602564  0.803419  2.611111  1.004274
midsize       1.401709    0.700855  0.525641  0.700855  2.277778  0.876068
minivan       0.376068    0.188034  0.141026  0.188034  0.611111  0.235043
pickup        1.128205    0.564103  0.423077  0.564103  1.833333  0.705128
subcompact    1.196581    0.598291  0.448718  0.598291  1.944444  0.747863
suv           2.119658    1.059829  0.794872  1.059829  3.444444  1.324786

manufacturer    subaru    toyota  volkswagen
class
2seater       0.299145  0.726496    0.576923
compact       2.811966  6.829060    5.423077
midsize       2.452991  5.957265    4.730769
minivan       0.658120  1.598291    1.269231
pickup        1.974359  4.794872    3.807692
subcompact    2.094017  5.085470    4.038462
suv           3.709402  9.008547    7.153846
~~~~~~~~~~~~~~~~~~~~~~
chi^2 value: 464.3721
p value: 0.00000000
degrees of freedom: 84
Our p value is less than our alpha and we can reject the null hypothesis
         We can suggest that vehicle class type if not independent of manufacturer

## 3. Use the data from the employees database to answer these questions:

### Is an employee's gender independent of whether an employee works in sales or marketing? (only look at current employees)

In [ ]:
# set up sql connection

In [26]:
def get_connection(db, user, host, password):
    url = f'mysql+pymysql://{user}:{password}@{host}/{db}'
    return create_engine(url)

In [27]:
conn = get_connection('employees', usr, host, pw)

In [ ]:
# make our query for the parameters that we want:

In [28]:
query = '''SELECT e.gender, d.dept_name
FROM employees e
JOIN dept_emp de ON de.emp_no = e.emp_no
AND de.to_date > NOW()
JOIN departments d ON d.dept_no = de.dept_no'''

In [33]:
# load up our data
gender_dept = pd.read_sql(query, conn)

In [34]:
gender_dept.head()

  gender         dept_name
0      M  Customer Service
1      F  Customer Service
2      M  Customer Service
3      F  Customer Service
4      F  Customer Service

In [35]:
gender_dept = gender_dept[(gender_dept.dept_name == 'Sales') | (gender_dept.dept_name == 'Marketing')]

In [36]:
gender_dept.dept_name.value_counts()

Sales        37701
Marketing    14842
Name: dept_name, dtype: int64

In [37]:
observed = pd.crosstab(gender_dept.gender, gender_dept.dept_name)

In [38]:
observed

dept_name  Marketing  Sales
gender
F               5864  14999
M               8978  22702

In [40]:
# H0: Gender is independent of status in sales vs marketing departments
# Ha; Gender is not independent of status in sales or marketing departments

In [41]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [42]:
alpha = 0.05

In [43]:
print('Observed:\n')
print(observed)
print('~~~~~~~~~~~~~~~~~~~~~~')
print('Expected: \n')
print(pd.DataFrame(expected, index=observed.index, columns=observed.columns))
print('~~~~~~~~~~~~~~~~~~~~~~')
print(f'chi^2 value: {chi2:.4f}')
print(f'p value: {p:.8f}')
print(f'degrees of freedom: {degf}')
if p < alpha:
    print('''Our p value is less than our alpha and we can reject the null hypothesis
         We can suggest working in Sales compared to Marketing is not independent of employee gender''')
else:
    print('We cannot reject the null hypothesis')

Observed:

dept_name  Marketing  Sales
gender
F               5864  14999
M               8978  22702
~~~~~~~~~~~~~~~~~~~~~~
Expected:

dept_name    Marketing         Sales
gender
F          5893.242601  14969.757399
M          8948.757399  22731.242601
~~~~~~~~~~~~~~~~~~~~~~
chi^2 value: 0.3240
p value: 0.56919386
degrees of freedom: 1
We cannot reject the null hypothesis

#### Is an employee's gender independent of whether or not they are or have been a manager?

In [44]:
query = '''SELECT e.gender, dm.dept_no AS manager_status
FROM employees e
LEFT JOIN dept_manager dm ON dm.emp_no = e.emp_no'''

In [45]:
gender_mngr = pd.read_sql(query, conn)

In [46]:
gender_mngr.head()

  gender manager_status
0      M           None
1      F           None
2      M           None
3      M           None
4      M           None

In [47]:
gender_mngr.fillna(0, inplace=True)

In [49]:
gender_mngr.manager_status.value_counts()

0       300000
d009         4
d004         4
d006         4
d008         2
d002         2
d001         2
d005         2
d003         2
d007         2
Name: manager_status, dtype: int64

In [50]:
gender_mngr['manager_status'] = gender_mngr.manager_status.apply(lambda x: x if x==0 else 1)

In [51]:
gender_mngr.manager_status.value_counts()

0    300000
1        24
Name: manager_status, dtype: int64

In [52]:
observed = pd.crosstab(gender_mngr.gender, gender_mngr.manager_status)

In [53]:
chi2, p, degf, expected = stats.chi2_contingency(observed)

In [55]:
print('Observed:\n')
print(observed)
print('~~~~~~~~~~~~~~~~~~~~~~')
print('Expected: \n')
print(pd.DataFrame(expected, index=observed.index, columns=observed.columns))
print('~~~~~~~~~~~~~~~~~~~~~~')
print(f'chi^2 value: {chi2:.4f}')
print(f'p value: {p:.8f}')
if p < alpha:
    print('''Our p value is less than our alpha and we can reject the null hypothesis
         We can suggest gender of employee is not independent of history as a manager''')
else:
    print('We cannot reject the null hypothesis')

Observed:

manager_status       0   1
gender
F               120038  13
M               179962  11
~~~~~~~~~~~~~~~~~~~~~~
Expected:

manager_status              0          1
gender
F               120041.396688   9.603312
M               179958.603312  14.396688
~~~~~~~~~~~~~~~~~~~~~~
chi^2 value: 1.4567
p value: 0.22745819
We cannot reject the null hypothesis

In [ ]:
# T-test caveat and specification for one-tailed tests (now that y'all are experts)
# 
# previously stated: h0:
# value1.mean == value2.mean
# previously stated ha for one-tailed:
# value1.mean > value2.mean
# 
# actual corect h0 for this type of one-tailed spec:
# 
# H0: value1.mean <= value2.mean
# Ha: value1.mean > value2.mean
# 
# H0 should encompass *everything* that Ha does not cover in regard to options